{% block sidebar %}
	<div class="well sidebar-nav">
            <ul class="nav nav-list">
            	<li class="nav-header">Documentation</li>
	          {% for link in pmenu %} 
	          	<li {{ link.active ? 'class="active"' : '' }}><a href="{{ link.url }}">{{ link.desc }}</a></li>
	          {% endfor %}
            </ul>
        </div><!--/.well -->
        
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
            	<li class="nav-header">Installation</li>
	          {% for link in smenu %} 
	          	<li {{ link.active ? 'class="active"' : '' }}><a href="{{ link.url }}">{{ link.desc }}</a></li>
	          {% endfor %}
            </ul>
        </div><!--/.well -->
{% endblock sidebar %}